<footer class="page-footer" role="contentinfo">
	<div class="left-foot">
<p>All content copyright the respective author(s).</p>
<p>“<a href="http://americanart.si.edu/collections/search/artwork/?id=9864" title="Smithsonian American Art Museum">Landscape with Castles and Deer</a>” is by M. A. Hall and resides in the public domain.</p>
<ul>
<li><a href="/" title="Baruffio main page">Main page</a></li>
<li><a href="/about" title="About/submissions">Submission guidelines</a></li>
<li><a href="/p" title="The Pensieve">Archive</a></li>
<li><a href="/index.xml" title="Main RSS">RSS feed</a></li>
</ul>
	</div>
</footer>
