<section class="about">
<h2>What’s <a href="/" title="Main page"><em>Baruffio</em></a>?</h2>

<p>
<em>Baruffio</em> is a blog for people who take silly things way too seriously. It&#8217;s where you can read ludicrously in-depth analyses of a single spell. It&#8217;s where the only argument against a conspiracy theory is that it&#8217;s not consistent. It&#8217;s where we&#8217;re still talking about <em>Harry Potter,</em> after all these years.
</p>

<h2><em>&#8220;Point me!&#8221;</em></h2>

<p>Everything we&#8217;ve published is in <a href="/p" title="Baruffio archive">the Pensieve</a>.</p>

<p>You can follow us on <a href="https://twitter.com/baruffio_txt">Twitter</a> and subscribe to our <a href="/index.xml" title="Main RSS">RSS feed</a>.</p>
</section>
