<section class="about">
<h2>What’s <em>Baruffio</em>?</h2>

<p><a href="/" title="Main page"><em>Baruffio</em></a> is a place for people who think too much about the world of <em>Harry Potter</em>.  We publish criticism, philosophy, fan fiction, conspiracy theories, and just about everything else.</p>

<p>Have an idea that won't leave you alone?  Get it out of your head
  and into <a href="/post" title="Archive">the Pensieve</a>!  See
  our <a href="/about" title="About page/submission
  guidelines">submission guidelines</a> for details.</p>

<p>(Also, follow us on <a href="https://twitter.com/baruffio_txt">Twitter</a> and subscribe to our <a href="/index.xml" title="Main RSS">RSS feed</a>.)</p>
</section>
