@import "compass";

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic);

/* variables and mixins */

// _normalize.scss
@import "normalize";

/////// stuff for print and screen

body {
  font-family: "Playfair Display", serif;
}

blockquote {
  font-style: italic;
}

.slogan,
dt,
footer {
  font-style: italic;
}

.slogan em {
	font-style: normal;
}

section.list {
  ul {
    list-style-type: none;
  }
  time {
    font-style: italic;
  }
}

a.tag:nth-last-of-type(n+2) {
  &::after {
    content: ",";
  }
}