
@import "base";

// ==============
// DIMENSIONS
// ==============
$wide: 10%;
$wide-stance: 80%;
$narrow: 5%;
$tiny: 2%;

$box-border: .2em;
$thin-border: .125em;
$default-corner: .25em;

$break1: 900px;
$break2: 500px;

///////// colors /////
///////// colors /////
$adobe: #95422f;
$stone: #395059;
$grass: #506e2a;
$sky: #cabba8;
$water: #d1dde1;

///////// colors + art /////
///////// colors + art /////
body {
  min-height: 1036px;
  background: $sky url(/img/castle.min.png) no-repeat center bottom scroll;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  & > header {
    color: $adobe;
    @include text-shadow($water 1px 2px 0);
  }
}

section.primary,
section.single {
  background-color: $water transparent;
  background-color: rgba(209, 221, 225, .75);

  a {
    color: $stone;
    @include text-shadow($sky 1px 1px 0);
  }
}
.primary h2 a {
  text-decoration: none;
}

div.secondary {
  background-color: $grass;
  width: 15.95em;
/* http://css-tricks.com/snippets/css/ribbon/ */
  &:after {
    position: relative;
//    z-index: -1;
    bottom: -8em;

    content: "";
    border: 8em solid;
  }
  &:after {
    border-color: $grass $grass transparent $grass;
  }

  color: $sky;
  a {
    color: $water;
    &:hover,
    &:active,
    &:visited {
      color: $water;
    }
  }
}

.page-footer {
  background-color: $adobe;
  background-color: rgba(149, 66, 47, .90);

  color: $water;
  a {
    color: $sky;
    &:hover,
    &:active,
    &:visited {
      color: $sky;
    }
  }

}
/////////////////////////// LAYOUT ///////////////////////////
/////////////////////////// LAYOUT ///////////////////////////
/////////////////////////// LAYOUT ///////////////////////////
/////////////////////////// LAYOUT ///////////////////////////

.page-header {
  float: left;
  width: 50%;
  padding: 0 3em;
}
.slogan {
	margin-top: -1em;
}

.primary {
  width: 60%;
  float: left;
}

main {
  width: 90%;

  margin: 0 auto;
  text-align: center;
}

.secondary {
  float: right;
  width: 30%;
}

.secondary section {
  margin-top: 1em;
}

section.about,
p.skiplink {
  padding-right: 1em;
  padding-bottom: .1em;
  padding-left: 1em;
  @include border-radius($default-corner, $default-corner);
}
section.about {
  text-align: left;
  h2 {
    margin-top: .75em;
    line-height: 100%;
  }
}

section.index {
  margin-bottom: 1em;
}

article {
  @include border-radius($default-corner, $default-corner);

  margin-top: 1em;

  padding-right: 1em;
  padding-bottom: .25em;
  padding-left: 1em;

  h2 {
    margin-top: .375em;
  }
}

.single h1,
.primary h2 {
  line-height: 100%;
}

article,
section.single,
section.list {
  text-align: left;
}

section.single,
section.list {
  width: 60%;
  margin: inherit;
  padding: 0 2%;

  margin-bottom: 1em;
}

section.single,
section.primary {
  @include border-radius($default-corner, $default-corner);
}

h2.author,
h2.author a,
h3.pubdate {
  color: $stone;
}

h2.author {
  float: left;
  margin-top: -.125em;
}

h3.pubdate {
  float: right;
  margin-top: .25em;
}

.clear {
  clear: both;
}

.page-footer {
//  width: 100%;
//  float: left;
  clear: both;
  text-align: left;

  margin: 1em auto;
  padding-bottom: 1em;
  padding-top: .75em;
  padding-left: 6%;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  ul,
  li {
  /* http://www.alistapart.com/articles/taminglists/ */
    display: inline;
    margin: 0;
    padding-left: 0;
  }
  li:nth-last-of-type(n+2) {
    &::after {
      content: " |";
    }
  }
}

///////// text //////
///////// text //////
///////// text //////
///////// text //////
///////// text //////

body {
  font-size: 16pt;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 131.25%;
}

h5,
h6 {
  font-size: 112.5%;
}


/////// VISUAL CHAFF
/////// VISUAL CHAFF
/////// VISUAL CHAFF
/* http://unstoppablerobotninja.com/entry/fluid-images/ */
// /* needs width: 100% in IE stylesheet */
img,
object,
iframe {
  max-width: 100%;
  @include border-radius($default-corner, $default-corner);
}
img {
  margin: .5em 0 .5em 0;
  height: auto;

  border: $box-border solid $sky;
}

hr {
  height: $thin-border;
  width: 50%;
  border: 0;
}

article hr {
  height: $thin-border;
  width: 50%;
  border: 0;
}

//////////////////////// media queries ..................///////////////
//////////////////////// media queries ..................///////////////
//////////////////////// media queries ..................///////////////
@media screen and (min-width: $break1) {
  .skiplink {
    position: absolute;
    left: -999em;
    /* apparently this second push is for old Opera:
    /* http://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/ */
    top: -999px;
  }
}

@media screen and (max-width: $break1) {
  body {
    font-size: 14pt;
  }
  .page-header {
    clear: both;
    width: auto;
    margin: 0;
  }
  main {
    clear: both;
  }
  .primary,
  .secondary {
    float: none;
    width: 80%;
    margin: inherit;
  }
  section.about {
    padding: inherit 1em;
  }
  section.single,
  section.list {
    width: 80%;
  }
  h1 {
    font-size: 225%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 131.25%;
  }

  h4,
  h5,
  h6 {
    font-size: 112.5%;
  }
}

@media screen and (max-width: $break2) {
  body {
    font-size: 12pt;
  }
	main {
    width: auto;
    margin: 0 2%;
	}
  .primary,
  .secondary {
    width: auto;
    margin: 0;
  }
  section.single,
  section.list {
    width: auto;
  }
  .shit section.single,
  .nonsense section.single {
    border-left: none;
    border-right: none;
  }
  section.list ul {
    display: inline;
  }
  h1 {
    font-size: 171.5%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 128.5%;
  }

  h4,
  h5,
  h6 {
    font-size: 114.3%;
  }
}
