
@import "base";

// ==============
// DIMENSIONS
// ==============
$wide: 10%;
$wide-stance: 80%;
$narrow: 5%;
$tiny: 2%;

$box-border: .2em;
$thin-border: .125em;
$default-corner: .25em;

$break1: 900px;
$break2: 500px;

///////// colors /////
//// need some!!!!

/////////////////////////// LAYOUT ///////////////////////////
/////////////////////////// LAYOUT ///////////////////////////
/////////////////////////// LAYOUT ///////////////////////////
/////////////////////////// LAYOUT ///////////////////////////
body > header {
  float: left;
  width: 50%;
  padding: 0 3em;
  h1 + h2 {
    line-height: 200%;
  }
}

body > footer {
  clear: both;
  text-align: center;
  padding: 0 1em;
}

.primary {
  width: 70%;
  float: left;
}

.secondary {
  float: right;
  width: 30%;
}

.secondary section {
  margin-top: 1em;
}

section.about,
p.skiplink {
  padding-right: 1em;
  padding-bottom: .1em;
  padding-left: 1em;
  @include border-radius($default-corner, $default-corner);
}
section.about {
  text-align: left;
  h2 {
    margin-top: .75em;
    line-height: 100%;
  }
}

section.index {
  margin-bottom: 1em;
}

main {
  width: 90%;

  margin: 0 auto;
  text-align: center;
}

article {
  @include border-radius($default-corner, $default-corner);

  margin-top: 1em;

  padding-right: 1em;
  padding-bottom: .25em;
  padding-left: 1em;

  h2 {
    margin-top: .375em;
  }
}

article,
section.single,
section.list {
  text-align: left;
}

section.single,
section.list {
  width: 60%;
  margin: inherit;
  padding: 0 2%;
}


///////// text //////
///////// text //////
///////// text //////
///////// text //////
///////// text //////

body {
  font-size: 16pt;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 131.25%;
}

h5,
h6 {
  font-size: 112.5%;
}

h1 + h2 {
  margin-top: -.5em;
}


/////// VISUAL CHAFF
/////// VISUAL CHAFF
/////// VISUAL CHAFF
/* http://unstoppablerobotninja.com/entry/fluid-images/ */
// /* needs width: 100% in IE stylesheet */
img,
object,
iframe {
  max-width: 100%;
  @include border-radius($default-corner, $default-corner);
}
img {
  margin: .5em 0 .5em 0;
  height: auto;
  @media screen and (max-width: $break2) {
    float: none;
  }
}

hr {
  height: $thin-border;
  width: 50%;
  border: 0;
}

article hr {
  height: $thin-border;
  width: 50%;
  border: 0;
}

//////////////////////// media queries ..................///////////////
//////////////////////// media queries ..................///////////////
//////////////////////// media queries ..................///////////////
@media screen and (min-width: $break1) {
  .skiplink {
    position: absolute;
    left: -999em;
    /* apparently this second push is for old Opera:
    /* http://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/ */
    top: -999px;
  }
}

@media screen and (max-width: $break1) {
  body {
    font-size: 14pt;
    & > header {
      clear: both;
      width: auto;
      margin: 0;
    }
  }
  main {
    clear: both;
  }
  .primary,
  .secondary {
    float: none;
    width: 80%;
    margin: inherit;
  }
  section.about {
    padding: inherit 1em;
  }
  section.single,
  section.list {
    width: 80%;
  }
  h1 {
    font-size: 225%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 131.25%;
  }

  h4,
  h5,
  h6 {
    font-size: 112.5%;
  }
}

@media screen and (max-width: $break2) {
  body {
    font-size: 12pt;
  }
	main {
    width: auto;
    margin: 0 2%;
	}
  .primary,
  .secondary {
    width: auto;
    margin: 0;
  }
  section.single,
  section.list {
    width: auto;
  }
  .shit section.single,
  .nonsense section.single {
    border-left: none;
    border-right: none;
  }
  section.list ul {
    display: inline;
  }
  h1 {
    font-size: 171.5%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 128.5%;
  }

  h4,
  h5,
  h6 {
    font-size: 114.3%;
  }
}
