<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "global/meta.html" . }}
  {{ template "global/assets.html" . }}

  <title>About Baruffio — baruffio.com</title>
</head>
<body>

<header role="banner">
<h1>Baruffio</h1>
<h2 class="slogan">a blog about <em>Harry Potter</em></h2>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>


<div class="secondary">
<section class="about">
<h2>About <em>Baruffio</em></h2>

<p>We're really great.</p>

<p>Follow us on <a href="https://twitter.com/baruffio_txt">Twitter</a>!</p>
</section>
</div>

<section id="content-start" class="primary index">
<h2>Submitting to <em>Baruffio</em></h2>
<p>Unfortunately, our budget is like nothing so much as the Weasley's vault in <em>Chamber of Secrets</em>:</p>

<blockquote>
The vaults were reached by means of small, goblin-driven carts that sped along miniature train-tracks through the bank’s underground tunnels. Harry enjoyed the breakneck journey down to the Weasleys’ vault, but felt dreadful, far worse than he had in Knockturn Alley, when it was opened. There was a very small pile of silver Sickles inside, and just one gold Galleon. Mrs Weasley felt right into the corners before sweeping the whole lot into her bag.
</blockquote>

<p>That said, we do run ads and will pay contributors a percentage of advertising revenue during the month when their piece is published.</p>
</section>

</main>

{{ template "global/footer.html" }}

</body>
</html>
