<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "global/meta.html" . }}
  {{ template "global/assets.html" . }}

  <title>About Baruffio — baruffio.com</title>
</head>
<body>
<!--http://css-tricks.com/snippets/css/sticky-footer/-->

<header class="page-header" role="banner">
<h1>Baruffio</h1>
<h2 class="slogan">a blog about <em>Harry Potter</em></h2>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>

<div class="secondary">
<section class="about">
	<h2>Masthead</h2>

<ul>
<li><p>Editor: Alex Dunn, <script type="text/javascript">
<!--
h='&#x67;&#x6d;&#x61;&#x69;&#108;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#100;&#x75;&#110;&#110;&#46;&#x61;&#108;&#x65;&#120;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#100;&#x75;&#110;&#110;&#46;&#x61;&#108;&#x65;&#120;&#32;&#x61;&#116;&#32;&#x67;&#x6d;&#x61;&#x69;&#108;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript></p></li>
<li><p>Publisher: Barack Obama, <script type="text/javascript">
<!--
h='&#x61;&#x6d;&#x65;&#114;&#x69;&#x63;&#x61;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#x6f;&#98;&#x61;&#x6d;&#x61;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#x6f;&#98;&#x61;&#x6d;&#x61;&#32;&#x61;&#116;&#32;&#x61;&#x6d;&#x65;&#114;&#x69;&#x63;&#x61;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript></p></li>
<li><p>Cats: a lot of cats</p></li>
</ul>

</section>
	</div>

<section id="content-start" class="primary submit">
<h2>What’s <em>Baruffio</em>?</h2>

<p><em>Baruffio</em> is a place for people who think too much about the world of <em>Harry Potter</em>.  We publish criticism, philosophy, fan fiction, conspiracy theories, and just about everything else.</p>

<h2>Submitting to <em>Baruffio</em></h2>

<p>Unfortunately, our budget is like nothing so much as the Weasley’s vault in <em>Chamber of Secrets</em>:</p>

<blockquote>
The vaults were reached by means of small, goblin-driven carts that sped along miniature train-tracks through the bank’s underground tunnels. Harry enjoyed the breakneck journey down to the Weasleys’ vault, but felt dreadful, far worse than he had in Knockturn Alley, when it was opened. There was a very small pile of silver Sickles inside, and just one gold Galleon. Mrs Weasley felt right into the corners before sweeping the whole lot into her bag.
</blockquote>

<p>Therefore we have no choice at this time but to imitate the <em>Quibbler’s</em> business model:</p>

<blockquote>
“I don’t think Daddy exactly pays people to write for the magazine,’ said Luna dreamily. ‘They do it because it’s an honour and, of course, to see their names in print.”
</blockquote>

<p>The upside is that we are more than happy to publish previously-published
  work.</p>

<h3>Content guidelines</h3>
<p>This is a blog about <em>Harry Potter</em>, but basic rules of decency apply.  We will not publish content that promotes:

<ul>
<li>racism,</li>
<li>sexism,</li>
<li>classism,</li>
<li>homophobia,</li>
<li>transphobia,</li>
<li>ableism,</li>
<li>whorephobia, or</li>
<li>any other sort of oppression.</li>
</ul>

This of course does <em>not</em> mean that we don’t encourage you to submit pieces examining issues of oppression and social justice <em>within</em> the world of <em>Harry Potter</em>.

<p>Submit pitches or completed pieces to our current editor, Alex Dunn, at <script type="text/javascript">
<!--
h='&#x67;&#x6d;&#x61;&#x69;&#108;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#100;&#x75;&#110;&#110;&#46;&#x61;&#108;&#x65;&#120;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#100;&#x75;&#110;&#110;&#46;&#x61;&#108;&#x65;&#120;&#32;&#x61;&#116;&#32;&#x67;&#x6d;&#x61;&#x69;&#108;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript>.  If submitting a pitch, please provide links to previous writing.</p>

</section>
</main>

{{ template "global/footer.html" }}

</body>
</html>
