<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "global/meta.html" . }}
  {{ template "global/assets.html" . }}

  <title>The Pensieve — baruffio.com</title>
</head>
<body>
<!--http://css-tricks.com/snippets/css/sticky-footer/-->

<header class="page-header" role="banner">
<h1>The Pensieve</h1>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>

<div class="secondary">
<section class="about">
	<h2>Archive for <a href="/" title="Baruffio.com">Baruffio.com</a></h2>
	<p>Here you can find everything ever published on <em>Baruffio</em>.  Follow us on <a href="https://twitter.com/baruffio_txt">Twitter</a> and subscribe to our <a href="/index.xml" title="Main RSS">RSS feed</a> so you don&#8217;t miss new stuff!</p>
</section>
	</div>

<section id="content-start" class="primary">
		{{ range .Data.Pages }}
				{{ .Render "short" }}
		{{ end }}
</section>

</main>

{{ template "global/footer.html" }}

</body>
</html>
