<!DOCTYPE html>
<html lang="en">
{{ template "global/head.html" . }}
<body>

<header role="banner">
<h1>The Pensieve</h1>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>

<div class="secondary">
<section class="about">
	<h2>Archive for Baruffio.com</h2>
	<p>Here you can find everything ever published on <em>Baruffio</em>.  See the latest magic on our <a href="/" title="Baruffio.com">main page</a>.</p>
</section>
	</div>

<section id="content-start" class="primary list">
	<ul>
		{{ range .Data.Pages }}
			{{ .Render "li" }}
		{{ end }}
	</ul>
</section>

</main>

{{ template "global/footer.html" }}

</footer>

</body>
</html>
