<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "global/meta.html" . }}
  {{ template "global/assets.html" . }}

  <title>{{ .Title }} — baruffio.com</title>
</head>
<body>
<!--http://css-tricks.com/snippets/css/sticky-footer/-->

<header class="page-header" role="banner">
<h1>“<em>Accio</em> {{ .Title }}!”</h1>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>

<div class="secondary">
<section class="about">
	<h2>Posts tagged “{{ .Title }}”</h2>
	<p>This is just a subset of the magical content on <a href="/" title="Baruffio.com"><em>Baruffio</em></a>.  Check out the <a href="/p" title="The Pensieve">whole archive</a>, then follow us on <a href="https://twitter.com/baruffio_txt">Twitter</a> and subscribe to our <a href="/index.xml" title="Main RSS">RSS feed</a> so you don&#8217;t miss new stuff!</p>
</section>
	</div>

<section id="content-start" class="primary">
		{{ range .Data.Pages }}
			{{ .Render "short" }}
		{{ end }}
</section>

</main>

{{ template "global/footer.html" }}

</body>
</html>
