<!DOCTYPE html>
<html class="{{ .Type }} single" lang="en">
<head>
  {{ template "global/meta.html" . }}
  {{ template "global/assets.html" . }}

  <title>{{ .Title }} — baruffio.com</title>
</head>
<body>

<header class="page-header" role="banner">
<h1>{{ .Title }}</h1>
<h2 class="author">{{ if isset .Params "authorlink" }}<a href="{{ .Params.authorlink }}">{{ end }}{{ .Params.author }}{{ if isset .Params "authorlink" }}</a>{{ end }}</h2>
<h3 class="pubdate"><time datetime="{{ .Date }}">{{ .Date.Format "2 January 2006" }}</time></h3>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>

<div class="secondary">
{{ template "global/who.html" }}
</div>

<section id="content-start" class="primary single">
{{ .Content }}

{{ if isset .Params "tags" }} 
<footer><p>
Posted in <span class="tags">{{ range .Params.tags }}	<a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}</span></p>
</footer>
{{ end }}
</section>
</main>

{{ template "global/footer.html" }}

</body>
</html>
