<!DOCTYPE html>
<html class="{{ .Type }} single" lang="en">
<head>
  {{ partial "meta.html" . }}
  {{ partial "assets.html" . }}

  <title>{{ .Title | safeHtml }} — baruffio.com</title>
</head>
<body>

<header class="page-header" role="banner">
<h1>{{ .Title | safeHtml }}</h1>
{{ if isset .Params "a" }}<h2 class="author">{{ range .Params.a }}<a href="/a/{{ . | urlize }}">{{ . }}</a>{{ end }}</h2>{{ end }}
<h3 class="pubdate"><time datetime="{{ .Date }}">{{ .Date.Format "2 January 2006" }}</time></h3>
</header>

<main role="main">
{{ partial "pre.html" . }}
<div class="secondary">
{{ partial "who.html" . }}
</div>

<section id="content-start" class="primary single">
{{ .Content }}

{{ if isset .Params "t" }}
<footer><p>
Posted in <span class="tags">{{ range .Params.t }}	<a class="tag" href="/t/{{ . | urlize }}">{{ . }}</a>{{ end }}</span></p>
</footer>
{{ end }}
</section>
</main>

{{ partial "footer.html" . }}

</body>
</html>
