<!DOCTYPE html>
<html class="{{ .Type }} single" lang="en">
<head>
  {{ template "global/meta.html" . }}
  {{ template "global/assets.html" . }}

  <title>{{ .Title }} — baruffio.com</title>
</head>
<body>

<header class="page-header" role="banner">
<h1>{{ .Title }}</h1>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>

<div class="secondary">
{{ template "global/who.html" }}
</div>

<section id="content-start" class="primary single">
{{ .Content }}
</section>

<hr />

{{ template "global/subfooter.html" . }}

</main>

{{ template "global/footer.html" }}

</body>
</html>
