<!DOCTYPE html>
<html class="home" lang="en">
<head>
  {{ partial "meta.html" . }}
  {{ partial "assets.html" . }}
  <title>404 File Not Found — baruffio.com</title>
</head>
<body>
<!--http://css-tricks.com/snippets/css/sticky-footer/-->

<header class="page-header" role="banner">
<h1>404</h1>
<h2 class="slogan">file not found</em></h2>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to content">Skip to primary content</a></p>

<div class="secondary">
<section class="about">
	<h2>The Hall of Prophecy</h2>
  <p><em>He did not want to hear what Ron had to say; did not want to hear Ron tell him he had been stupid or suggest that they ought to go <a href="/">back to Hogwarts</a>.</em></p>
</section>
	</div>

<section id="content-start" class="primary">
  <h3>‘You said it was row ninety-seven.’</h3>
<blockquote>
<p>‘Harry?’ said Hermione tentatively, but he did not want to respond. His mouth was very dry.</p>
<p>‘Somewhere about … here …’ he said.</p>
<p>They had reached the end of the row and emerged into more dim candlelight. There was nobody there. All was echoing, dusty silence.</p>
<p>‘He might be …’ Harry whispered hoarsely, peering down the next alley. ‘Or maybe …’ He hurried to look down the one beyond that.</p>
<p>‘Harry?’ said Hermione again.</p>
<p>‘What?’ he snarled.</p>
<p>‘I … I don’t think Sirius is here.’</p>
</blockquote>
</section>

</main>
{{ partial "footer.html" . }}
</body>
</html>
