<!DOCTYPE html>
<html class="shit" lang="en">
{{ template "global/head.html" . }}
<body>

<header role="banner">
<h1>Santa Barbara Bullshit</h1>
<h2 class="slogan">Treating the BS in SB with as much seriousness as it deserves</h2>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>


<div class="secondary">
<section class="about">
<h2>About <em>SBBS</em></h2>

<p>Santa Barbara is full of Serious People with Serious Problems. If they aren’t heroically defending the city’s Mediterranean architecture, or battling against City Council’s perpetual War on Cars, they are fretting about the lack of civility shown by today’s youths and marvelling at the impudence of the homeless population’s continued existence.</p>

<p><em>Santa Barbara Bullshit</em> treats all these concerns with the deadly earnestness they deserve.

<p>Follow us on <a href="https://twitter.com/sbshit">Twitter</a> and <a href="https://www.facebook.com/SantaBarbaraBullshit">Facebook</a> or subscribe to the <a href="/index.xml">RSS feed</a> for updates.</p>
</section>

<section class="about nonsense">
<h2><a href="/nonsense"><em>The Daily Nonsense</em></a></h2>
<p><em>The Daily Nonsense</em> is the only campus publication at UCSB with any moral compass at all. Upon learning of our existence, a group of campus Republicans went back in time and started something called <a href="http://dailynexus.com/" title="WARNING WARNING FAKE SITE">“The Daily Nexus”</a> in an attempt to undermine our credibility. Support the <em>Nonsense</em> and recognize the <em>Nexus</em> for the cabal of hacks they are!</p>
<p><em>The Daily Nonsense</em> is a subsidiary of <em>Santa Barbara Bullshit</em>, but has separate <a href="https://twitter.com/thedailynexus">Twitter</a> and <a href="https://facebook.com/thedailynexus">Facebook</a> accounts, as well as a dedicated <a href="/nonsense/index.xml">RSS feed</a>.</p>
</section>
</div>

<section id="content-start" class="primary index">
{{ range first 5 .Site.Recent }}
	{{ .Render "article" }}
{{ end }}
</section>

</main>

{{ template "global/footer.html" }}

</body>
</html>
