<!DOCTYPE html>
<html lang="en">
{{ template "global/head.html" . }}
<body>

<header role="banner">
<h1>Baruffio</h1>
<h2 class="slogan">a blog about <em>Harry Potter</em></h2>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>


<div class="secondary">
<section class="about">
<h2>About <em>Baruffio</em></h2>

<p>We're really great.</p>

<p>Follow us on <a href="https://twitter.com/baruffio_txt">Twitter</a>!</p>
</section>
</div>

<section id="content-start" class="primary index">
{{ range first 5 .Site.Recent }}
	{{ .Render "summary" }}
{{ end }}
</section>

</main>

{{ template "global/footer.html" }}

</body>
</html>
