<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "global/meta.html" . }}
  {{ template "global/assets.html" . }}

  <title>Baruffio: a blog about Harry Potter</title>
</head>
<body>
<!--http://css-tricks.com/snippets/css/sticky-footer/-->

<header class="page-header" role="banner">
<h1>Baruffio</h1>
<h2 class="slogan">a blog about <em>Harry Potter</em></h2>
</header>

<main role="main">
<p class="skiplink"><a href="#content-start" title="skip to
                                                    content">Skip to
                                                    primary content</a></p>


<div class="secondary">
{{ template "global/who.html" }}
</div>

<section id="content-start" class="primary index">
{{ range first 5 .Site.Recent }}
	{{ .Render "summary" }}
{{ end }}
</section>

</main>

{{ template "global/footer.html" }}

</body>
</html>
